<html>

<body>
  <div>
    <h1>Message Details</h1>
    <h2>
      <%= msg.user %>
    </h2>
    <p>
      <%= msg.text %>
    </p>
    <p>
      <%= msg.added %>
    </p>

    <a href="/">Back to Messages</a>
  </div>
</body>

</html>