<h1>Message Form</h1>

<form action="/new" method="post">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" />

  <label for="message">Message</label>
  <input type="text" name="message" id="message" />

  <button>Sumbit</button>
</form>
