<html>
  <body>
    <div>
      <h1>Message Details</h1>
      <h2><%= msg.username %></h2>
      <p><%= msg.message %></p>
      <p><%= msg.created_at %></p>

      <a href="/">Back to Messages</a>
    </div>
  </body>
</html>
