<h1>Update Message</h1>

<form method="post" action="/update/<%=locals.id%>">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" required />

  <label for="message">Message</label>
  <input type="text" name="message" id="message" required />

  <button>Sumbit</button>
</form>
